

/* ------------------------ RESPONSIVE DESIGN ----------------------------- */

@media (max-width:720px){

   header{
    height:100vh;
    flex-direction: column;
   }

   #mainNav{
        height:fit-content;
        margin:0;
   }

    #mainNav ul{
        height:fit-content;
        width:100%;
        flex-direction:column;
        gap:5px;
    }
    #logo{
        margin:0px 0px;
        flex-direction: column;

    }
    #logo p:first-child{
        width:100px;
        height:100px;
        font-size: 40px;
        padding-top:30px;
    }
    #mainNav ul li{
        justify-items: center;
        width:100%;
        height: 50px;
    }

    #mainNav ul li a{
        text-align: center;
        height:100%;
        width:50%;
    }

    #league-Btn{
        flex-basis: 50px;
        width:150px;
        margin:0px;
        padding-top:17px;
    }

    /* ------- above the fold with news letter ------- */

    .atf{
        width:80%;
        margin:0 auto;
    }

    .atf-title{
        font-size: 2rem;
    }
    .atf p{
        line-height:25px;
    }
    
    .atf form{
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border:none;
    }
    .atf form input[type="email"]{
        width:300px;
        border:1px solid var(--descColor);
        margin:10px 0;
    }

    .atf button[type="submit"]{
        width:100%;
    }
    .atf form input::placeholder{
        text-align: center;
    }


    .recent{
        height:fit-content;
    }
    .recent h2, .post-cont h2{
        text-align: center;
        font-size:21px;
    }
    .recent-cont{
        flex-direction: column;
        gap:70px;
    }
    .leftStory{
        width:100%;
    }
    .leftStory img{
        margin:0px 0px 0px 7%;

    }

    .recent img{
        width:85%;
        
    }
    .leftStory, .rightStory{
        width:100%;
    }

    .recent-article{
        flex-direction: column;
        height:400px;
        
    }
    .recent-cont{
        gap:20px;
    }

    .recent-article img{
        margin:0 auto;
        height:200px;
        width:100%;
    }

    /* --------- for the posts container ---------- */

    .posts{
        flex-direction: column;
    }

    .blog-card{
        width: 100%;
    }

    /* ---------  FOOTER STYLING ------------ */

    footer{
        width:100%;
        height:300px;
        flex-direction: column;
        gap:30px;
    }
    .ft-nl{
        flex-direction: column;
        margin:10px 0 0 0;
        gap:10px;
        height:300px;
    }
    .ft-nl p{
        width:85%;
    }

    .ft-nl-hd{
        font-family: var(--headFont);
        font-size:1.1em;
        text-align: center;
        line-height: 35px;;
        font-weight: bold;
        
    }

    .ft-nl-sub{
        font-family:var(--normalTxt);
        font-size:12px;
        font-weight:500;
        text-align: center;
        margin:10px auto ;
        width:80%;
        line-height: 30px;
        /* color:var(--descColor); */
        color:red;
    }
    .socials{
        width:80%;
        height:30px;
        margin:0px auto;
        display: flex;
        gap:10px;
        align-items: center;
        justify-content: center;
    }
    .ft-nl form{
        margin:10px 0;
        width:100%;
        height : 100px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ft-nl form input[type="email"]{
        width:60%;
        margin:0 auto;
        height:30px;
        border:1px solid var(--descColor);
        
    }
    .ft-nl form button{
        width:60%;
        height:30px;
        margin:5px auto;
        background: var(--mainGradient);
        border:none;
        box-shadow: 0px 0px 5px var(--descColor);
    }
     .ft-nl form button{
        margin-top:10px;
    }

    /* .ft-nl{
        margin:20px 0 0 0;
        flex-direction: column;
    }

    .ft-nl p span{
        display:block;
    }


    
    

   
 */


    /* ------------- for the blog pages -------------- */

    #blog-cont{
        width:80%;
        margin:0 auto;
    }
    #blog-cont img{
        width:100%;
    }

    #blog-cont h2{
        font-size: 1.2em;
        line-height: 30px;
        margin:15px 0;
    }
    #blog-cont p{
        text-align: justify;
    }

    #related{
        height:1150px;
        margin:0 auto;
    }
    .blog-cont-sc{
        margin:20px 0 20px;
    }

    .related-p{
        flex-direction: column;
        margin-top:400px;
        gap:20px;
    }
}