*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    --mainPurple:#cf00cf;
    --mainGradient:linear-gradient(to right, #dfdfdf, #0061cfbb);
    --mainGradient2:linear-gradient(to right, #0061cfbb, #dfdfdf);
    --headFont:"Rubik", serif;
    --normalTxt:"Montserrat", serif;
    --styledFont:"Tourney", serif;
    --normalTxtSize:12px;
    --headFontSize:3.7rem;
    --descColor:#5c6f72;
}

.blog-content{
    width:90vw;
    margin:0 auto;
}
/* -------------- STYLING THE HEADER SECTION WITH LOGO AND NAV -------------- */
h1, h2, h3{
    font-family: var(--headFont);
    font-size:16px;
}
.breaker{
    height:12px;
    width:100%;
    background:var(--mainGradient);
    border-bottom:2px solid var(--mainPurple);
}
header{
    height:90px;
    width:100%;
    display:flex;
    gap:10px;
    justify-content: space-around;
    align-items: center;
}
  
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.lg-link{
    display:block;
    width:fit-content;
    height: fit-content;
    text-decoration: none;
    color:inherit;
}

#logo p{
    font-family: var(--headFont);
}

#logo p:first-child{
    height:50px;
    width:50px;
    text-align: center;
    padding-top:15px;
    border-radius: 50%;
    background: var(--mainGradient);
}

#mainNav{
    width:70vw;
    height:100%;
}

#mainNav ul{
    width:100%;
    height:100%;
    list-style-type:none;
    display:flex;
    gap:10px;
    justify-content: right;
    align-items: center;
    
}

#mainNav ul li{
    width:100px;
    height:40px;
    justify-items: right;
}

#mainNav ul li a{
    display: block;
    width:100%;
    height:100%;
    padding-top:10px;
    text-align: right;
    text-decoration: none;
    color:black;
    font-family: var(--headFont);
    font-weight:900px;
}

#mainNav ul li a:hover{
    border-bottom:1px solid orange;
}

#league-Btn{
    display: block;
    width:100px;
    height:40px;
    border-radius:5px;
    background: var(--mainGradient);
    transition:background 2s ease-in-out;
    color:white;
    text-align: center;
    padding-top:10px;
    text-decoration: none;
    font-family: var(--headFont);
    font-size:smaller;
    animation: btnMove 5s infinite alternate ease-in-out;
}

#league-Btn:hover{
    background: var(--mainGradient2);
}

/* --------------------- STYLING THE ATF (ABOVE THE FOLD) FOR NEWSLETTERS ------------------------  */

.atf-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--headFont);
    text-align: center;
    margin-top:100px;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.atf-title span{
    font-family: "Tourney", serif;;
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s infinite alternate ease-in-out;
}

  .atf p{
    font-family: var(--normalTxt);
    text-align: center;
    line-height: 50px;
    color:var(--descColor);
  }

  .atf form{
    width:fit-content;
    padding:10px;
    margin:0 auto;
    border:1px solid var(--descColor);
    margin-bottom:50px;
  }

  .atf form input[type="email"]{
    height:40px;
    width:350px;
    padding-left:10px;
    border-radius:5px;
    border:none;
    font-family: var(--normalTxt);
  }

  .atf form button{
    width:150px;
    height:40px;
    background-color: var(--descColor);
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0px 0px 2px var(--descColor);
  }

  /* ----------------------- STYLING THE RECENT ARTICLE SECTION -------------------------- */
  
  .recent{
    height:100vh;
    padding:10px;
    margin-bottom:100px;
  }

  .recent h2{
    font-family: var(--headFont);
    line-height:40px;
  }

  .recent-cont{
    width:100%;
    height:93%;
    display:flex;
    gap:20px;
  }

  .leftStory{
    width:50vw;
    height:100%;
  }

  .leftStory img{
    width:100%;
    height:65%;
  }
.date, .storyTitle h3{
    line-height:30px;
}
.date, .tag, .descTxt{
    font-family: var(--normalTxt);
}

.date{
    font-size:10px;
    font-weight:bold;
    color:var(--descColor);
}
.storyTitle{
    display: flex;
    justify-content: space-between;
}
.leftStory .descTxt{
    width:90%;
    font-size: 14px;
    height:fit-content;
}
  .descTxt{
    height:42px;
    overflow:hidden;
    margin:10px 0;
    color:var(--descColor);
    font-size: 12px;;
  }

  .tag{
    border:1px solid var(--descColor);
    width:fit-content;
    display:inline-block;
    padding:3px 10px;
    border-radius:20px;
    font-size: 10px;
  }

  .rightStory{
    width:50vw;
    display:flex;
    flex-direction: column;
    gap:20px;
  }

  .recent-article{
    width:100%;
    height:30%;
    display: flex;
    gap:15px;
  }

  .recent-article img{
    height:100%;
    width:300px;
  }
.recent-article .descTxt{
    font-size:12px;
}

.recent-article h3{
    font-size:smaller;
}

.recent-article .tag{
    margin:0;
    
}


/* ------------------------- DESIGNING THE BLOG CARDS FOR BLOG POSTS ----------------------------  */

.post-cont{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:90%;
    margin:30px auto;
}
.posts{
    width:100%;
    height:fit-content;
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
.blog-card{
    width:32%;
    height:400px;
}

.blog-card a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    color:inherit; /* picks the styling already set for the elements and disregard the default blue color for links */
    /* transition:all 5s ease-in-out;
    border-radius:10px; */
    transition:all 200ms ease-in-out 0.1s;
}
.blog-card img{
    width:100%;
    height:200px;
}
.blog-card a .descTxt{
    height:fit-content;
}

.blog-card a:hover{
    scale:1.02;
    box-shadow: 0px 0px 3px var(--descColor);
    padding:5px;
}

.prevNxt{
    width:100%;
    height:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:50px 0;
}
.previous, .next{
    display:flex;
    justify-content: space-between;
    gap:3px;
    background-color: rgba(214, 185, 185, 0.459);
    border-radius:10px;
    border:1px solid var(--descColor);
    padding:0 10px;
}

.prevNxt a{
    display:block;
    width:fit-content;
    height:fit-content;
    line-height: 20px;
    font-family: var(--headFont);
    font-size:12px;
    text-decoration: none;
    color:black;
}


/* -------------- STYLING THE FOOTER --------------- */

footer{
    width : 100%;
    height:200px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.ft-nl{
    width:100%;
    height:150px;
    display: flex;
    justify-content: space-around  ;
    align-items: center;
    padding:30px 0;
}
.ft-nl p{
    line-height: 40px;
}
.ft-nl span{
    display: block;
}

.ft-nl-hd{
    margin:0;
    padding:0;
    font-family: var(--headFont);
    font-size:2em;
    font-weight: bold;
}

.ft-nl-sub{
    font-size: 14px;
    font-weight: lighter ;
}

.ft-nl form input[type="email"]{
    height:30px;
    width:300px;
    border:1px solid var(--descColor);
    border-radius: 5px;
    padding-left:20px;
}

.ft-nl form button {
    height:30px;
    width:100px;
    background: var(--mainGradient);
    border: none;
    border-radius: 5px;
}

.socials{
    width:85%;
    margin:0 auto;
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
}

.socials a{
    color:var(--descColor);
}
